<div class="view-text view-text--article">

	<h1>Заголовок h1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eveniet, corrupti iure natus accusantium quo, aspernatur laboriosam officia repudiandae tenetur sed facere similique vero, velit? Ducimus eligendi accusantium neque saepe, iusto, quam similique atque nostrum enim sequi ex excepturi repellendus incidunt. Alias a omnis, dicta, repellat libero, eaque ea obcaecati mollitia facilis illo totam dolorum eius aut cumque tempora deserunt!</p>

	<h2>Заголовок h2</h2>
	<p>Laborum adipisci a, reiciendis, velit quia, totam doloremque perferendis accusantium quidem aut id porro repudiandae ea quos, quaerat ex? Maxime laborum, nemo nam necessitatibus ratione omnis libero sint totam deserunt perspiciatis, fugit autem non exercitationem minus. Alias omnis, iure voluptatum, tempora earum consectetur soluta vitae illum dignissimos aspernatur officia ut quod minus modi sed numquam eligendi fuga, recusandae! Odit, dignissimos.</p>

	<h3>Заголовок h3</h3>
	<p>Tempora, itaque consequuntur unde magni, ab alias totam qui est soluta, veniam, sapiente. Eligendi magni, quos praesentium optio ut quaerat sint nobis similique ab voluptas, nesciunt corporis quae repellendus maiores ratione error magnam rerum blanditiis quidem explicabo atque velit dolorum. Placeat hic, laboriosam? Tempore sequi consequuntur, fuga neque eaque qui vero debitis aliquid. Facilis iusto quod aliquid, provident inventore, ipsam!</p>

	<h4>Заголовок h4</h4>
	<p>Qui dolor est harum expedita voluptatum, possimus, ipsam tempore maxime, magnam repellendus esse. Sunt officia iste numquam nam velit, aspernatur dolorem officiis eligendi totam aliquam! Optio possimus aspernatur aliquam qui dicta minus repudiandae distinctio earum. Laboriosam eos aut accusantium iste dicta minus ratione consequatur aspernatur doloribus, temporibus doloremque earum fugit inventore dolores ipsa modi sed similique, culpa dolore cupiditate ullam.</p>

	<h5>Заголовок h5</h5>
	<p>Perspiciatis dolore totam officiis. Earum et eum optio architecto ullam laudantium placeat maxime sed, reiciendis delectus dolor veritatis, perferendis quos cupiditate pariatur odio vel accusantium itaque sunt voluptates sint ipsam, rem eveniet modi tempora. Eaque distinctio enim, ea quisquam facilis illo fuga, maxime quibusdam ut, sed dicta autem cumque molestias et eius molestiae nemo mollitia. Cumque dolorum repellendus voluptatibus aliquam!</p>

	<h6>Заголовок h6</h6>
	<p>Temporibus est dolor facere quis nisi itaque officia, consequuntur nihil, assumenda atque, magni! Eaque quae excepturi perferendis necessitatibus ipsam quibusdam repellat error, dicta pariatur quasi doloribus a libero sequi laborum illo, similique minima laudantium cum consequatur tempora blanditiis. Debitis velit dolore, voluptate similique. Omnis, assumenda nostrum laboriosam enim, provident repudiandae dolorum dicta officiis blanditiis soluta, ratione sint suscipit! Quam, quod.</p>

	<hr>

	<h2>Форматирование текста</h2>

	<p>Краткая демонстрация текстовых элементов / теги. Тег <code><%='<p>'%></code>  определяет текстовый абзац(создает новый параграф). Абзац является блочным элементом, всегда начинается с новой строки и имеет отсуп до и после себя. Абзац не позволяет вкладывать внутрь себя такие элементы как address(информации об авторе), blockquote(блочная цитата), table(таблица), также другие абзаци p > p.</p>

	<p>Если вам нужно принудительно перевести строку текста на новую линию, без создания нового абзаца и верстикальных отступов между - используйте одинарный тег  <code><%='<br>'%></code>.</p>

	<p>Вы можете отформатировать текст используя такие теги как  <code><%='<i> / <em>'%></code>, <em>чтобы сделать ваш текст наклонным</em>, вы также можете использовать <code><%='<q>'%></code> - <q>строчные цитаты, которые в отличии от блочных, позволяют вложенность внутри абзаца</q>, при помощи тегов  <code><%='<b> / <strong>'%></code>  - <strong>можно обозначить важный текст жирностью шрифта</strong>, для <ins>подчеркивания текста</ins> используйте <code><%='<u> / <ins>'%></code>, a для <del>перечеркивания</del> -  <code><%='<del>'%></code>, Также можно <mark>выделить нужную часть текста</mark> при помощи тега  <code><%='<mark>'%></code></p>

	<p>Чтобы превратить ваш текст в гиперссылку, нужно использовать <a href="https://webref.ru/html/a" title="https://webref.ru/html/a" target="_blank">тег <%='<a>'%></a>.<br>
	Также можно использовать специальные теги <code><%='<sup>'%></code> <sup>Отображает шрифт в виде верхнего индекса</sup> и <code><%='<sub>'%></code> <sub>Отображает шрифт в виде нижнего индекса</sub>.<br>Тег <code><%='<small>'%></code> <small>уменьшает размер шрифта</small></p>

	<p>Тег <code><%='<code>'%></code> предназначен для отображения одной или нескольких строк текста, который представляет собой программный код<br>
	<small><em>пример:</em></small><br>
	- чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.</p>

	<p>Тег <kbd><%='<kbd>'%></kbd> используется для обозначения текста, который набирается на клавиатуре или для названия клавиш,<br>
	<small><em>пример:</em></small><br>
	- чтобы вызвать <em>"Диспетчер задач"</em> нажмите на клавиатуре вместе 3 клавиши - <kbd>Ctrl + Alt + Del</kbd>.</p>

	<p>Тег <samp><%='<samp>'%></samp> используется для отображения текста, который является результатом вывода компьютерной программы или скрипта,<br>
	<small><em>пример:</em></small><br>
	- в результате провеверки мы определил, что <samp>ваш браузер поддерживает JavaScript</samp></p>
	<p>Тег  <code><%='<abbr>'%></code> указывает, что <abbr title="ПС - последовательность символов">ПС</abbr> является аббревиатурой. С помощью атрибута дается расшифровка сокращения - <code>title="... ваше описание"</code>, что позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того, <strong>поисковые системы индексируют полнотекстовый вариант сокращения</strong>, что может использоваться для повышения рейтинга документа.</p>

	<p>Как правило, когда, в документе, упоминается <dfn title="это новый термин">новый термин</dfn>, он выделяется курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным читателю. Тег <dfn title="тег <%='<dfn>'%>"><%='<dfn>'%></dfn> применяется для выделения таких терминов при их первом появлении в тексте. С помощью атрибута <kbd>title</kbd> вы можете дать более подробную расшифровку термина.</p>
	<address>Тег <code><%='<address>'%></code> предназначен для хранения информации об авторе(НЕ адреса и контакты компании, прочее) и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.</address>
	<blockquote>Тег <code><%='<blockquote>'%></code> используется для обозначения цитат, длинных выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.</blockquote>
	<pre><%=`Тег <pre> определяет блок предварительно форматированного текста.
	Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.
		По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.

	Тег <pre> позволяет обойти эту особенность и отображать текст
		как требуется разработчику.`%></pre>

	<hr>

	<h2>Списки</h2>

	<h4>Маркированный список</h4>
	<ul>
		<li><a href="http://www.wezom.com.ua" target="_blank" title="Веб-студия Wezom">Веб - студия Wezom</a> - Продвижение, создание сайтов, разработка, раскрутка сайта</li>
		<li><a href="http://www.korova.ks.ua" target="_blank" title="Коворкинг - Центр Корова">Коворкинг - Центр Корова</a> - Аренда офиса, рабочего места в центре Херсона</li>
		<li><a href="http://www.100bannerov.com" target="_blank" title="100bannerov">100bannerov</a> - Размещение бесплатной баннерной рекламы в интернете</li>
		<li><a href="http://www.wezom.mobi" target="_blank" title="Wezom.mobile">Wezom.mobile</a> - Разработка и создание мобильных приложений для android и ios устройств в Украине
			<ul>
				<li> Lorem ipsum dolor sit
				</li>
				<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
				</li>
				<li> Lorem ipsum dolor sit amet, consectetur
					<ul>
						<li> Повседневная практика показывает, что
						</li>
						<li> Повседневная практика показывает, что постоянный количественный рост и сфера
						</li>
						<li> Повседневная практика показывает, что постоянный количественный
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<h4>Нумерованный список</h4>
	<ol>
		<li><a href="http://www.dom-rebenka.org.ua" target="_blank" title="Областной Дом ребенка">Областной Дом ребенка</a> - Помощь детям с пораженной ЦНС</li>
		<li><a href="http://www.blogoduma.ru" target="_blank" title="Медицинский портал">Медицинский портал</a> - Все о здоровье и медицин</li>
		<li><a href="http://www.more.ks.ua" target="_blank" title="Отдых на море">Отдых на море</a> - Черное и Азовское море / пансионаты Херсонского побережья</li>
		<li><a href="http://www.rafting.mk.ua" target="_blank" title="Рафтинг на Южном Буге и в Карпатах">Рафтинг на Южном Буге и в Карпатах</a> - Рафтинг в Украине, сплав по реке Южный Буг
			<ol>
				<li> Lorem ipsum dolor sit
				</li>
				<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
				</li>
				<li> Lorem ipsum dolor sit amet, consectetur
					<ol>
						<li> Повседневная практика показывает, что
						</li>
						<li> Повседневная практика показывает, что постоянный количественный рост и сфера
						</li>
						<li> Повседневная практика показывает, что постоянный количественный
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
	<h4>Список определений</h4>
	<dl>
		<dt>Что такое Тег?</dt>
		<dd>Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.</dd>
		<dt>Что такое HTML-документ?</dt>
		<dd>Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.</dd>
		<dt>Что такое Сайт?</dt>
		<dd>Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.</dd>
	</dl>

	<hr>
	<h2>Таблицы</h2>
	<table>
		<caption>caption таблици</caption>
		<tr>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
		</tr>
		<tr>
			<td>Cumque ut itaque deserunt soluta.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Atque aut maiores minima veritatis?</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Harum iusto, provident libero consequatur!</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Consequuntur obcaecati numquam, perspiciatis.</td>
			<td>Harum iusto, provident libero consequatur!</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
	</table>
	<table class="table-zebra">
		<caption>Таблица CSS класс <b>"table-zebra"</b></caption>
		<tr>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
		</tr>
		<tr>
			<td>Cumque ut itaque deserunt soluta.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Atque aut maiores minima veritatis?</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Harum iusto, provident libero consequatur!</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Consequuntur obcaecati numquam, perspiciatis.</td>
			<td>Harum iusto, provident libero consequatur!</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
	</table>
	<table class="table-null">
		<caption>Таблица CSS класс <b>"table-null"</b></caption>
		<tr>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
			<th>Заглавие таблици</th>
		</tr>
		<tr>
			<td>Cumque ut itaque deserunt soluta.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Tempora alias, amet error consectetur.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Atque aut maiores minima veritatis?</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Nemo possimus dolore, ipsum laborum.</td>
		</tr>
		<tr>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Harum iusto, provident libero consequatur!</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Consequuntur obcaecati numquam, perspiciatis.</td>
			<td>Harum iusto, provident libero consequatur!</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
		<tr>
			<td>Quod quidem cumque repellendus ipsam!</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
			<td>Neque consequuntur doloribus nostrum autem.</td>
			<td>Lorem ipsum dolor sit amet.</td>
		</tr>
	</table>
	<h2>Media</h2>
	<h4>Iframe</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est in, obcaecati nulla amet distinctio, sapiente itaque porro neque at laudantium temporibus quam magnam. Animi rem maxime autem quaerat, facilis porro doloremque aspernatur asperiores error praesentium. Aliquam odit harum, aperiam deleniti.</p>
	<iframe width="1280" height="720" src="https://www.youtube.com/embed/LEzKfmzKmjA" allowfullscreen></iframe>
	<h4>HTML 5 Video</h4>
	<p>Rem aspernatur, blanditiis, magni quibusdam laudantium facere voluptates cum saepe atque, fugiat, vero. In magni repudiandae laboriosam quam. Eos fugit minima molestias, ipsam natus asperiores in, dolor eveniet ex, officia assumenda ratione repellendus fuga. Dolor neque, fugit nam minima illo.</p>
	<p><video src="media/video.mp4" width="1280" height="720" controls></video></p>
	<h4>HTML 5 Audio</h4>
	<p>Voluptate laboriosam aperiam, odit voluptatem. Nobis eius error eaque velit voluptatum quis facere perferendis aut corporis doloribus at voluptate, qui itaque quas, omnis iste mollitia. Suscipit atque unde, incidunt illum dolores illo dolor distinctio ad voluptates qui dicta sequi natus?</p>
	<audio src="media/audio.mp3" controls></audio>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus suscipit sint hic alias doloribus sit deleniti sunt, est soluta autem reprehenderit facere itaque. Doloribus quam est debitis earum qui, voluptas a asperiores porro reiciendis adipisci, repellat unde ipsam laboriosam, nisi sequi dolorum facere, quod provident! Eligendi facilis eum ipsa officia sapiente incidunt nostrum aperiam, consequatur cupiditate esse exercitationem, eos repellat.</p>

	<hr>

	<%- partial('content/test-content-images') -%>

	<hr>

</div>
